<h1>Search for GIFs</h1>

<form action="/" method="get">
    <input type="text" name="term">
    <button type="submit">Search</button>
</form>

<div class="img-container">
    {{#each gifs}}

        <div class="tenor-gif-embed" data-postid="{{this.id}}" data-share-method="host" data-width="100%" data-aspect-ratio="1.2266666666666666">
            <a href="{{ this.itemurl }}"></a>
            <a href="{{ this.url }}"></a>
            <script async src="https://tenor.com/embed.js"></script>
        </div>

    {{/each}}
</div>
